apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: francosb/toolrent-microservice-frontend:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - nodePort: 30090     # The port to access from Chrome/Edge
      port: 80            # The internal port of the service
      targetPort: 80      # The port of Nginx inside the container
  type: NodePort