.public-home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--accent-color);
}

.public-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: var(--text-color);
}

.public-main-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.public-main-content p {
  font-size: 1.5rem;
  max-width: 800px;
  line-height: 1.6;
}